/*imports a font family called "Poppins" from Google Fonts.
  It specifies different font weights (400, 500, 600, 700, 800, 900) to be used and instructs the browser to swap the font display with the imported font.
*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap");

/*Tailwind CSS*/
@tailwind base;/*include the base styles*/
@tailwind components;/*component styles*/
@tailwind utilities;/*utility styles*/

/*:root - root element of the HTML document used to define CSS variables*/
:root{
    /*
        black-gradient(CSS variable) that holds a linear gradient value
        This gradient starts with #ffffff at -278.56% and transitions to #6d6d6d at -78.47% before ending with #11101d at 91.61%.
        This variable can be used throughout the CSS file to apply the gradient to different elements.
    */
    --black-gradient: linear-gradient(
        144.39deg,
        #ffff -278.56%,
        #6d6d6d -78.47%,
        #11101d 91.61%
    );

    /*
        card-shadow(CSS variable) that holds a box shadow value.
        It specifies a shadow effect with horizontal offset of 0px, vertical offset of 20px, blur radius of 100px, and a spread radius of -10px. The shadow color is defined as rgba(66, 71, 91, 0.1).
        horizontal offset | vertical offset | blur radius | spread radius | shadow color
    */
    --card-shadow: 0px 20px 100px -10px rgba(66, 71, 91, 0.1);
}

/* applied to all elements on the page */
*{
    /*the scrolling will be animated and smooth instead of an instant jump from one point to another.*/
    scroll-behavior: smooth;
}

/*background styling using a radial gradient*/
.text-gradient{
    background: radial-gradient(
        /*
        starts at a certain position defined by percentages (64.18% 64.18%) and has a center point located at (71.16% 35.69%). 
        These percentages determine the position of the gradient relative to the element's width and height.
        
        - multiple color stops defined by their respective positions and colors
        At 0.89%, the color #def9fa is specified.
        At 17.23%, the color #bef3f5 is specified.
        At 42.04%, the color #9dedf0 is specified.
        At 55.12%, the color #7de7eb is specified.
        At 71.54%, the color #5ce1e6 is specified.
        At 100%, the color #33bbcf is specified.
        */
        64.18% 64.18% at 71.16% 35.69%,
        #def9fa 0.89%,
        #bef3f5 17.23%,
        #9dedf0 42.04%,
        #7de7eb 55.12%,
        #5ce1e6 71.54%,
        #33bbcf 100%
    );
    /*
    vendor-specific prefixes (-webkit-) for compatibility with certain web browsers
    These prefixes are used for specific CSS properties that may not have full standardized support across all browsers.
    -webkit- prefixes are necessary for compatibility with older versions of some web browsers, particularly those based on the WebKit engine (such as Safari)
    */
    -webkit-background-clip: text;/*background applied to the element will only be visible where the text is present*/
    -webkit-text-fill-color: transparent;/*sets the color of the text to transparent - as the text becomes invisible because it is filled with a transparent color*/
    
    /*Newer versions of modern browsers typically support these properties without the need for vendor-specific prefixes(-webkit).*/
    background-clip:text;/*It clips the background of the text to the shape of the text*/
    text-fill-color: transparent;/*sets the color of the text to transparent, making it invisible*/
}/*text-gradient*/

.bg-blue-gradient {
    background: linear-gradient(
        157.81deg,
        #def9fa -43.27%,
        #bef3f5 -21.24%,
        #9dedf0 12.19%,
        #7de7eb 29.82%,
        #5ce1e6 51.94%,
        #33bbcf 90.29%
    );
}/*bg-blue-gradient*/

.bg-black-gradient {
    background: linear-gradient(
        144.39deg,
        #ffffff -278.56%,
        #6d6d6d -78.47%,
        #11101d 91.61%
    );
}/*bg-black-gradient*/

.bg-black-gradient-2 {
    background: linear-gradient(
        -168.39deg,
        #ffffff -278.56%,
        #6d6d6d -78.47%,
        #11101d 91.61%
    );
}/*bg-black-gradient-2*/

.bg-gray-gradient {
    background: linear-gradient(
        153.47deg,
        rgba(255, 255, 255, 0) -341.94%,
        #14101d 95.11%
    );
}/*bg-gray-gradient*/

.bg-discount-gradient {
    background: linear-gradient(125.17deg, #272727 0%, #11101d 100%);
}/*bg-discount-gradient*/